* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    background-color: #A9CCE3;
}

body {
    display: block;
    justify-content: center;
    align-content: center;
    max-width: 2000px;
    margin: auto;
    height: fit-content;
    background-image: url('img/pexels-gratisography-2255.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgb(47, 71, 87, .9);
    padding: 20px;
}

#plane {
    width: 90px;
    padding: 10px;
    margin-right: 20px;
    filter: drop-shadow(2.5px 2.5px 10px #b3e7f8);
    position: relative;
    animation: planefly 4s ease-in;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.header h1 {
    font-size: 60px;
    align-self: center;
    padding: 10px;
    position: relative;
    text-shadow: 0 0 0.30em #b3e7f8;
    animation: h1move 1s ease-in;
}

@keyframes planefly {
    from {left: -1300px;}
    to {left: 0px;}
}

@keyframes h1move {
    from {left: 1300px;}
    to {left: 0px;}
}

.search-section {
    height: 250px;
    display: flex;
    justify-content: center;
    padding-left: 270px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#city-search {
    height: 80px;
    width: 260px;
    padding: 20px;
    margin: 20px;
    align-self: center;
    font-size: 28px;
    border: none;
    background-color: whitesmoke;
    box-shadow: outset 0 0 5px 5px #2f4757;
    transition: width 0.5s;
}

#city-search:focus {
    outline: none;
}

#city-search:hover {
    width: 280px;
}

#search-button {
    font-size: 28px;
    height: 80px;
    width: 100px;
    align-self: center;
    border: none;
    background-color: rgba(79, 118, 145);
    box-shadow: 0px 8px 15px rgba(93, 139, 170, 0.9);
    transition: all 0.4s ease 0s;
}

#search-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(79, 118, 145, 0.4);
    color: #fff;
    transform: translateX(2px);
}

#search-button:hover p {
    color: black;
}

#search-button:focus {
    outline: none;
}

.checkboxes {
    align-self: center;
    padding: 40px;
}

.checkboxes label {
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
    opacity: 30%;
    width: 3em;
    height: 2em;
    vertical-align: middle;
    margin: 5px;
    border-radius: 0.25em;
}

.checkboxes input:focus {
    box-shadow: 0 0 0 0.5em #fff, 0 0 0.15em 0.1em blue;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

.checkboxes label span {
    vertical-align: middle;
}

.result-section {
    margin: auto;
    width: 1500px;
    min-height: 600px;
    padding-bottom: 100px;
}

h2 {
    font-size: 48px;
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 100;
    margin: auto;
    width: 200px;
}

#weather {
    display: none;
}

.weather-box {
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    margin: 0 auto 50px auto;
    font-size: 18px;
    text-align: center;
}

.weather-items {
    display: flex;
    flex-wrap: nowrap;
}

#temp-img {
    height: 30px;
    margin-left: 50px;
    margin-right: 5px;
}

#cond-img {
    width: 100px;
    margin-left: 70px;
    margin-right: 5px;
}

.weather-box h3 {
    font-size: 36px;
    margin-bottom: 20px;
    padding: 10px;
}

.weather-box p {
    padding: 3px;
}

.title-container {
    display: inline;
    text-align: center;
}

#attractions-title {
    font-size: 48px;
    padding: 30px;
}

.attractions {
    display: none;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 200px auto;
}

#pic1{
    width: 150px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10px;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(2.5px 10px 5px #4c6e85);
}

#pic2{
    height: 150px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10px;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(2.5px 10px 5px #4c6e85);
}

.attraction-box {
    display: block;
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
    text-shadow: 0 0 0.40em #ebf5fa;
    background-color: rgb(47, 71, 87, .6);
    justify-self: center;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 30px;
}

.attraction-box h3 {
    margin: 0;
    width: 400px;
    font-size: 36px;
    padding: 3px 3px 3px 3px;
}

.attraction-box p {
    font-size: 26px;
    padding: 10px;
    margin: auto;
}

footer {
    display: flex;
    background-color: rgb(47, 71, 87, .9);
    height: 40px;
    justify-content: flex-end;
    padding: 50px 10px 20px 0;
}

footer p {
    padding: 10px;
    margin: 5px;
}