* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    background-color: #A9CCE3;
}

body {
    display: block;
    justify-content: center;
    align-content: center;
    max-width: 2000px;
    margin: auto;
    height: fit-content;
    background-image: url('img/pexels-gratisography-2255.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: rgb(105, 105, 105, .8);
    padding: 20px;
}

#plane {
    width: 90px;
    padding: 10px;
    margin-right: 20px;
    filter: drop-shadow(2.5px 2.5px 10px rgb(247, 247, 247));
    position: relative;
    animation: planefly 4s ease-out;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.header h1 {
    font-size: 60px;
    align-self: center;
    padding: 10px;
    position: relative;
    text-shadow: 0 0 0.30em rgb(247, 247, 247);
    animation: h1move 1s ease-out;
}

@keyframes planefly {
    from {left: -1300px;}
    to {left: 0px;}
}

@keyframes h1move {
    from {left: 1300px;}
    to {left: 0px;}
}

.search-section {
    height: 250px;
    display: flex;
    justify-content: center;
    padding-left: 270px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#city-search {
    height: 80px;
    width: 260px;
    padding: 20px;
    margin: 20px;
    align-self: center;
    font-size: 28px;
    border: none;
    background-color: whitesmoke;
    box-shadow: outset 0 0 5px 5px #2f4757;
    transition: width 0.5s;
}

#city-search:focus {
    outline: none;
}

#city-search:hover {
    width: 280px;
}

#search-button {
    font-size: 28px;
    height: 80px;
    width: 100px;
    align-self: center;
    border: none;
    background-color: rgb(196, 145, 2, .4);
    box-shadow: 0px 8px 15px rgba(93, 139, 170, 0.9);
    transition: all 0.4s ease 0s;
}

#search-button:hover {
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(79, 118, 145, 0.4);
    transform: scale(1.1);
}

#search-button:focus {
    outline: none;
}

.checkboxes {
    align-self: center;
    padding: 40px;
}

.checkboxes label {
    font-size: 18px;
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
    opacity: 30%;
    width: 3em;
    height: 2em;
    vertical-align: middle;
    margin: 5px;
    border-radius: 0.25em;
}

.checkboxes input:focus {
    box-shadow: 0 0 0 0.5em #fff, 0 0 0.15em 0.1em blue;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

.checkboxes label span {
    vertical-align: middle;
}

.result-section {
    margin: auto;
    width: 1500px;
    min-height: 600px;
    padding-bottom: 100px;
}

h2 {
    font-size: 48px;
    padding: 80px;
}

h3 {
    width: fit-content;
    font-size: 36px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 20px;
}

#city-name {
    display: none;
    align-self: center;
    font-size: 64px;
    font-weight: 400;

}

#current-weather {
    font-size: 44px;
    font-style: oblique;
}

#weather {
    display: none;
    justify-content: center;
}

.weather-box {
    display: grid;
    grid-template-columns: 6.25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 6.25%;
    grid-template-rows: 50% 30% 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-shadow: 0 0 0.40em #ebf5fa;
    background-color: rgb(196, 145, 2, .4);
    align-self: center;
    border-radius: 5px;
    width: 550px;
    height: 300px;
    margin: auto;
    margin-bottom: 150px;
    transition: transform .2s;
}

.weather-box:hover {
    transform: scale(1.1);
}

.weather-box h3 {
    align-self: center;
    justify-self: center;
    grid-column: 4/7;
    grid-row: 1/2;
    font-size: 44px;
}

#temp-img {
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 50px;
}

#temp {
    font-size: 24px;
    align-self: center;
    justify-self: center;
    grid-column: 3/4;
    grid-row: 2/3;
}

#cond-img {
    align-self: center;
    justify-self: center;
    grid-column: 5/6;
    grid-row: 2/3;
    width: 100px;
}

#condition {
    width: fit-content;
    font-size: 22px;
    align-self: center;
    justify-self: center;
    grid-column: 6/9;
    grid-row: 2/3;
}

#attractions-title {
    display: none; 
    width: fit-content;
    font-size: 44px;
    font-style: oblique;
    font-weight: 400;
    margin: auto;
}

.attractions {
    display: none;
    grid-template-columns: auto 40% 40% 40% auto;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: 0;
    justify-content: center;
}

#pic1{
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10px;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(2.5px 10px 5px #4c6e85);
}

#pic2{
    height: 250px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10px;
    justify-self: center;
    align-self: center;
    filter: drop-shadow(2.5px 10px 5px #4c6e85);
}

.attraction-box {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35% 35% 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-shadow: 0 0 0.40em #ebf5fa;
    background-color: rgb(196, 145, 2, .4);
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    padding: 10px;
    margin: 90px;
    transition: transform .2s;
}

.attraction-box:hover {
    transform: scale(1.1);
}

.attraction-box h3 {
    align-self: center;
    margin: 20px 0 0 20px;
    font-size: 44px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 2;
}

.attraction-box p {
    align-self: center;
    justify-self: center;
    font-size: 22px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.att-icons {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer {
    display: flex;
    background-color: rgb(105, 105, 105, .9);
    height: 40px;
    justify-content: flex-end;
    padding: 50px 10px 20px 0;
}

footer p {
    padding: 10px;
    margin: 5px;
}